.content-container {
    padding: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .form-box {
    background-color: white;
    border: 2px solid #3498db;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
  }
  
  h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 1.5rem;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
  }
  
  button[mat-raised-button][color="primary"] {
    background-color: #3498db; /* Celeste para 'Crear Rol' */
    color: white;
  }
  
  button[mat-raised-button][color="primary"]:hover {
    background-color: #2980b9; /* Celeste más oscuro en hover */
  }
  
  /* Ajustes para pantallas pequeñas */
  @media screen and (max-width: 768px) {
    .form-container {
      flex-direction: column;
    }
  }
  