/* dialog.component.css */
.gray {
  background-color: #f0f0f0;
}
.light-red {
  background-color: #ffcccc;
}
.light-green {
  background-color: #ccffcc;
}
mat-dialog-content {
  font-size: 1rem;
  margin-bottom: 20px;
}
mat-dialog-actions button {
  font-weight: bold;
}
