<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-6 text-center">Iniciar Sesión</h2>
    <p class="text-center mb-4 text-gray-600">Ingresa tu correo y contraseña</p>
    
    <form (ngSubmit)="onSubmit()">
      <!-- Campo de correo electrónico con Angular Material -->
      <mat-form-field class="w-full mb-4" appearance="outline">
        <mat-label>Correo Electrónico</mat-label>
        <input matInput type="email" [(ngModel)]="loginData.email" name="email" required>
        <mat-icon matSuffix>email</mat-icon>
      </mat-form-field>

      <!-- Campo de contraseña con opción de mostrar/ocultar -->
      <mat-form-field class="w-full mb-4" appearance="outline">
        <mat-label>Contraseña</mat-label>
        <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="loginData.password" name="password" required>
        <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
          <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>


      <!-- Enlace para olvidaste tu contraseña -->
      <div class="flex justify-between items-center mb-4">
        <a routerLink="/auth/reset-password" class="text-sm text-blue-500">¿Olvidaste tu contraseña?</a>
      </div>

      <!-- Botón de iniciar sesión -->
      <button mat-raised-button color="primary" type="submit" class="w-full mb-4">
        Iniciar Sesión
      </button>
    </form>

    <!-- Sección inferior (footer) -->
    <p class="text-center text-sm mt-4">
      ¿Todavía no tienes una cuenta? 
      <a routerLink="/auth/register" class="text-blue-500 font-bold">Regístrate ahora</a>
    </p>

    <footer class="text-center text-gray-500 mt-6">
      <p>© 2024 - <a href="https://github.com/FernandoJRR/Proyecto2AyD" class="text-blue-500">Booking App</a>® by <a href="https://github.com/FernandoJRR" class="text-blue-500">FerJRR</a> y <a href="https://github.com/MenWic" class="text-blue-500">MenWic</a>.</p>
    </footer>
  </div>
</div>
