<h3 class="text-center mb-4">Gestión de Recursos</h3>
<div class="content-container">
  <div class="grid grid-cols-1 md:grid-cols-2 mb-4">
      <form class="flex flex-col">
        <label>Buscar Recurso</label>
        <input pInputText (keyup)="applyFilter($event)" />
      </form>

    <p-button
      class="md:ml-auto mt-2 md:mt-0"
      icon="pi pi-plus"
      label="Recurso"
      (onClick)="createResource()"
    ></p-button>
  </div>

  <div class="">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let recurso">{{ recurso.id }}</td>
      </ng-container>

      <!-- Nombre Column -->
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let recurso">{{ recurso.nombre }}</td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
        <td mat-cell *matCellDef="let recurso">
          <button mat-icon-button (click)="editResource(recurso)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="deleteResource(recurso.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  </div>
</div>
