<div class="content-container">
  <div class="form-box">
    <h2>Editar Negocio</h2>

    <form (ngSubmit)="onSubmit()" class="flex flex-col">
      <!-- Nombre del Negocio -->
        <label>Nombre del Negocio</label>
      <mat-form-field appearance="outline" class="full-width">
        <input
          matInput
          [(ngModel)]="business.nombre"
          name="nombre"
          required
          #nombre="ngModel"
          placeholder="Ingrese el nombre del negocio"
        />
        <mat-error *ngIf="nombre.invalid && nombre.touched">
          El nombre del negocio es obligatorio.
        </mat-error>
      </mat-form-field>

      <!-- Botones de Acción -->
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
        <button mat-stroked-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
