<div class="flex items-center justify-center min-h-screen bg-gray-100">
  <div class="max-w-md bg-white p-8 rounded-lg shadow-md">
    <h2 class="text-2xl font-bold mb-4 text-center">Nueva Contraseña</h2>
    <p class="text-center mb-6 text-gray-600">Ingresa una nueva contraseña.</p>

    <form
      class="flex flex-col gap-3"
      [formGroup]="newPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <p-floatLabel class="w-full">
        <p-password
          [ngClass]="{ 'ng-invalid ng-dirty': isFieldInvalid('password') }"
          [(ngModel)]="password"
          [toggleMask]="true"
          [feedback]="false"
          name="password"
          id="passwordInput"
          required
          formControlName="password"
        />
        <label for="passwordInput">Contraseña</label>
      </p-floatLabel>
      <small *ngIf="isFieldInvalid('password')"
        >La contraseña es obligatoria.</small
      >

      <p-floatLabel>
        <p-password
          [ngClass]="{ 'ng-invalid ng-dirty': isFieldInvalid('passwordAgain') }"
          [(ngModel)]="passwordAgain"
          [toggleMask]="true"
          [feedback]="false"
          name="password"
          id="passwordAgainInput"
          required
          formControlName="passwordAgain"
        />
        <label for="passwordAgainInput">Confirmar Contraseña</label>
      </p-floatLabel>
      <small *ngIf="isFieldInvalid('passwordAgain')"
        >La confirmacion de contraseña es obligatoria.</small
      >

      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="w-full mb-4"
      >
        Cambiar Contraseña
      </button>
    </form>
  </div>
</div>
