<div class="content-container">
  <div class="form-box">
    <h2>Crear Nuevo Recurso</h2>
    
    <form (ngSubmit)="onSubmit()" class="form-container">
      <!-- Nombre del Recurso -->
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Nombre del Recurso</mat-label>
        <input
          matInput
          [(ngModel)]="resource.nombre"
          name="nombre"
          required
          #nombre="ngModel"
          placeholder="Ingrese el nombre del recurso"
        />
        <mat-error *ngIf="nombre.invalid && nombre.touched">
          El nombre del recurso es obligatorio.
        </mat-error>
      </mat-form-field>
      
      <!-- Botones de Acción -->
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
        <button mat-stroked-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>